---
import Layout from '../layouts/Layout.astro';
import LayoutVideos from '../layouts/LayoutVideos.astro';
import Tarjetas from '../components/Tarjetas.astro';

---

<Layout title="YouTube">
	
</Layout>

<LayoutVideos title="C1">
	<main>
		
	</main>
	
</LayoutVideos>




